In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import json
import matplotlib.pyplot as plt
from matplotlib import rc

In [13]:
df = pd.read_excel("C:/python/datas/단독다가구(전월세)_실거래가_20230319004709.xlsx")
df

C:\Users\giokim\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162052,서울특별시 중랑구 중화동,1**,8m미만,171.71,월세,202108,21,"5,000",35,1991,봉화산로26가길,202111~202311,신규,-,0,0
162053,서울특별시 중랑구 중화동,1**,8m미만,175,월세,202107,7,"3,000",35,2003,봉화산로26가길,202108~202308,신규,-,0,0
162054,서울특별시 중랑구 중화동,3**,12m미만,188.47,월세,202112,13,"23,000",30,1992,동일로139길,202112~202512,갱신,-,"17,000",30
162055,서울특별시 중랑구 중화동,1**,8m미만,198,월세,202103,15,"3,000",30,1993,상봉중앙로5길,-,-,-,,
162056,서울특별시 중랑구 중화동,2**,8m미만,230.28,월세,202111,30,"2,000",40,1988,동일로121길,202112~202312,신규,-,0,0

In [14]:
df.drop(df.index[0:16], inplace=True)
df

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
16,서울특별시 강남구 개포동,1**,8m미만,13.2,월세,202108,28,300,10,NaN,선릉로14길,-,-,-,,
17,서울특별시 강남구 개포동,1***,25m미만,13.2,월세,202104,30,500,35,1988,개포로22길,202104~202304,-,-,,
18,서울특별시 강남구 개포동,1***,12m미만,14,월세,202109,11,300,35,1991,논현로8길,202109~202204,신규,-,0,0
19,서울특별시 강남구 개포동,1***,8m미만,15,월세,202112,6,500,45,1998,개포로20길,-,-,-,,
20,서울특별시 강남구 개포동,1***,-,15,월세,202106,14,500,35,1998,NaN,-,-,-,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162052,서울특별시 중랑구 중화동,1**,8m미만,171.71,월세,202108,21,"5,000",35,1991,봉화산로26가길,202111~202311,신규,-,0,0
162053,서울특별시 중랑구 중화동,1**,8m미만,175,월세,202107,7,"3,000",35,2003,봉화산로26가길,202108~202308,신규,-,0,0
162054,서울특별시 중랑구 중화동,3**,12m미만,188.47,월세,202112,13,"23,000",30,1992,동일로139길,202112~202512,갱신,-,"17,000",30
162055,서울특별시 중랑구 중화동,1**,8m미만,198,월세,202103,15,"3,000",30,1993,상봉중앙로5길,-,-,-,,
162056,서울특별시 중랑구 중화동,2**,8m미만,230.28,월세,202111,30,"2,000",40,1988,동일로121길,202112~202312,신규,-,0,0

In [17]:
df.rename(columns = {'□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.': '시군구', 
                     'Unnamed: 4': '전월세구분',
                     'Unnamed: 7': '보증금(만원)',
                     'Unnamed: 8': '월세(만원)'}, inplace=True)

del df['Unnamed: 1']
del df['Unnamed: 2']
del df['Unnamed: 3']
del df['Unnamed: 5']
del df['Unnamed: 6']
del df['Unnamed: 9']
del df['Unnamed: 10']
del df['Unnamed: 11']
del df['Unnamed: 12']
del df['Unnamed: 13']
del df['Unnamed: 14']
del df['Unnamed: 15']
df

                  시군구 전월세구분         보증금(만원)          월세(만원)
16      서울특별시 강남구 개포동    월세             300              10
17      서울특별시 강남구 개포동    월세             500              35
18      서울특별시 강남구 개포동    월세             300              35
19      서울특별시 강남구 개포동    월세             500              45
20      서울특별시 강남구 개포동    월세             500              35
...               ...   ...             ...             ...
162052  서울특별시 중랑구 중화동    월세           5,000              35
162053  서울특별시 중랑구 중화동    월세           3,000              35
162054  서울특별시 중랑구 중화동    월세          23,000              30
162055  서울특별시 중랑구 중화동    월세           3,000              30
162056  서울특별시 중랑구 중화동    월세           2,000              40

[162041 rows x 4 columns]

In [27]:
df2 = pd.read_excel("C:/python/datas/아파트(전월세)_실거래가_20230319004139.xlsx")
df2

C:\Users\giokim\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23183,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),전세,50.37,202112,3,"27,000",0,6,1997,동일로 752,202202~202402,갱신,사용,"27,000",0
23184,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),전세,84.87,202112,16,"37,800",0,11,1997,동일로 752,-,-,-,,
23185,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),월세,59.76,202112,22,"10,000",63,18,1997,동일로 752,202202~202402,갱신,사용,"10,000",60
23186,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),월세,59.76,202112,22,"10,000",63,18,1997,동일로 752,-,-,-,,
23187,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),전세,59.76,202112,24,"31,500",0,5,1997,동일로 752,202201~202401,갱신,사용,"30,000",0

In [28]:
df2.drop(df2.index[0:16], inplace=True)
df2

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
16,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,전세,67.28,202112,7,"36,000",0,2,1987,언주로 3,202112~202312,갱신,사용,"36,000",0
17,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,전세,67.28,202112,15,"60,000",0,1,1987,언주로 3,-,-,-,,
18,서울특별시 강남구 개포동,651-1,0651,0001,개포더샵트리에,월세,105.8244,202112,8,"20,000",535,16,2021,개포로 311,202112~202312,신규,-,0,0
19,서울특별시 강남구 개포동,651-1,0651,0001,개포더샵트리에,월세,105.8064,202112,11,"40,000",410,16,2021,개포로 311,202202~202402,신규,-,0,0
20,서울특별시 강남구 개포동,651-1,0651,0001,개포더샵트리에,전세,108.2017,202112,13,"200,000",0,16,2021,개포로 311,202112~202312,신규,-,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23183,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),전세,50.37,202112,3,"27,000",0,6,1997,동일로 752,202202~202402,갱신,사용,"27,000",0
23184,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),전세,84.87,202112,16,"37,800",0,11,1997,동일로 752,-,-,-,,
23185,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),월세,59.76,202112,22,"10,000",63,18,1997,동일로 752,202202~202402,갱신,사용,"10,000",60
23186,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),월세,59.76,202112,22,"10,000",63,18,1997,동일로 752,-,-,-,,
23187,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),전세,59.76,202112,24,"31,500",0,5,1997,동일로 752,202201~202401,갱신,사용,"30,000",0

In [29]:
df2.rename(columns = {'□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.': '시군구', 
                     'Unnamed: 5': '전월세구분',
                     'Unnamed: 9': '보증금(만원)',
                     'Unnamed: 10': '월세(만원)'}, inplace=True)

del df2['Unnamed: 1']
del df2['Unnamed: 2']
del df2['Unnamed: 3']
del df2['Unnamed: 4']
del df2['Unnamed: 6']
del df2['Unnamed: 7']
del df2['Unnamed: 8']
del df2['Unnamed: 11']
del df2['Unnamed: 12']
del df2['Unnamed: 13']
del df2['Unnamed: 14']
del df2['Unnamed: 15']
del df2['Unnamed: 16']
del df2['Unnamed: 17']
del df2['Unnamed: 18']
df2

                 시군구 전월세구분         보증금(만원)          월세(만원)
16     서울특별시 강남구 개포동    전세          36,000               0
17     서울특별시 강남구 개포동    전세          60,000               0
18     서울특별시 강남구 개포동    월세          20,000             535
19     서울특별시 강남구 개포동    월세          40,000             410
20     서울특별시 강남구 개포동    전세         200,000               0
...              ...   ...             ...             ...
23183  서울특별시 중랑구 중화동    전세          27,000               0
23184  서울특별시 중랑구 중화동    전세          37,800               0
23185  서울특별시 중랑구 중화동    월세          10,000              63
23186  서울특별시 중랑구 중화동    월세          10,000              63
23187  서울특별시 중랑구 중화동    전세          31,500               0

[23172 rows x 4 columns]

In [30]:
df3 = pd.read_excel("C:/python/datas/연립다세대(전월세)_실거래가_20230319004255.xlsx")
df3

C:\Users\giokim\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11254,서울특별시 중랑구 중화동,320-102,0320,0102,토토세인하우스,전세,29.73,202112,16,"18,350",0,2,2015,중랑역로9길 11-10,202201~202401,갱신,-,"17,500",0
11255,서울특별시 중랑구 중화동,320-102,0320,0102,토토세인하우스,전세,28.49,202112,21,"18,000",0,4,2015,중랑역로9길 11-10,202202~202402,신규,-,0,0
11256,서울특별시 중랑구 중화동,322-48,0322,0048,파크빌,월세,22.4,202112,23,"1,000",63,2,2017,중랑역로3나길 13,202112~202312,신규,-,0,0
11257,서울특별시 중랑구 중화동,110-39,0110,0039,힐아트빌,전세,83.61,202112,21,"32,500",0,2,2003,봉화산로24길 28-9,-,-,-,,
11258,서울특별시 중랑구 중화동,110-39,0110,0039,힐아트빌,전세,83.61,202112,21,"32,500",0,2,2003,봉화산로24길 28-9,202202~202402,신규,-,0,0

In [31]:
df3.drop(df3.index[0:16], inplace=True)
df3

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
16,서울특별시 강남구 개포동,1164-27,1164,0027,(1164-27),월세,51.78,202112,22,"50,000",6,4,2016,논현로2길 66,-,-,-,,
17,서울특별시 강남구 개포동,1164-27,1164,0027,(1164-27),월세,51.78,202112,22,"50,000",6,4,2016,논현로2길 66,202201~202401,신규,-,0,0
18,서울특별시 강남구 개포동,1183-12,1183,0012,(1183-12),월세,53.19,202112,21,"10,000",200,5,2020,논현로8길 63,-,-,-,,
19,서울특별시 강남구 개포동,1252-8,1252,0008,(1252-8),전세,65.92,202112,20,"39,600",0,5,2006,개포로21길 21,-,-,-,,
20,서울특별시 강남구 개포동,1213,1213,0000,1213,월세,45.52,202112,11,"38,000",30,5,2016,개포로32길 6,202202~202402,신규,-,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11254,서울특별시 중랑구 중화동,320-102,0320,0102,토토세인하우스,전세,29.73,202112,16,"18,350",0,2,2015,중랑역로9길 11-10,202201~202401,갱신,-,"17,500",0
11255,서울특별시 중랑구 중화동,320-102,0320,0102,토토세인하우스,전세,28.49,202112,21,"18,000",0,4,2015,중랑역로9길 11-10,202202~202402,신규,-,0,0
11256,서울특별시 중랑구 중화동,322-48,0322,0048,파크빌,월세,22.4,202112,23,"1,000",63,2,2017,중랑역로3나길 13,202112~202312,신규,-,0,0
11257,서울특별시 중랑구 중화동,110-39,0110,0039,힐아트빌,전세,83.61,202112,21,"32,500",0,2,2003,봉화산로24길 28-9,-,-,-,,
11258,서울특별시 중랑구 중화동,110-39,0110,0039,힐아트빌,전세,83.61,202112,21,"32,500",0,2,2003,봉화산로24길 28-9,202202~202402,신규,-,0,0

In [32]:
df3.rename(columns = {'□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.': '시군구', 
                     'Unnamed: 5': '전월세구분',
                     'Unnamed: 9': '보증금(만원)',
                     'Unnamed: 10': '월세(만원)'}, inplace=True)

del df3['Unnamed: 1']
del df3['Unnamed: 2']
del df3['Unnamed: 3']
del df3['Unnamed: 4']
del df3['Unnamed: 6']
del df3['Unnamed: 7']
del df3['Unnamed: 8']
del df3['Unnamed: 11']
del df3['Unnamed: 12']
del df3['Unnamed: 13']
del df3['Unnamed: 14']
del df3['Unnamed: 15']
del df3['Unnamed: 16']
del df3['Unnamed: 17']
del df3['Unnamed: 18']
df3

                 시군구 전월세구분         보증금(만원)          월세(만원)
16     서울특별시 강남구 개포동    월세          50,000               6
17     서울특별시 강남구 개포동    월세          50,000               6
18     서울특별시 강남구 개포동    월세          10,000             200
19     서울특별시 강남구 개포동    전세          39,600               0
20     서울특별시 강남구 개포동    월세          38,000              30
...              ...   ...             ...             ...
11254  서울특별시 중랑구 중화동    전세          18,350               0
11255  서울특별시 중랑구 중화동    전세          18,000               0
11256  서울특별시 중랑구 중화동    월세           1,000              63
11257  서울특별시 중랑구 중화동    전세          32,500               0
11258  서울특별시 중랑구 중화동    전세          32,500               0

[11243 rows x 4 columns]

In [33]:
df4 = pd.read_excel("C:/python/datas/오피스텔(전월세)_실거래가_20230319.xlsx")
df4

C:\Users\giokim\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61609,서울특별시 중랑구 중화동,208-4,0208,0004,중화동 범양프레체,월세,22.21,202111,26,"2,000",45,7,2012,중랑천로14길 58,202111~202311,신규,-,0,0
61610,서울특별시 중랑구 중화동,208-4,0208,0004,중화동 범양프레체,월세,22.21,202111,27,"1,000",45,3,2012,중랑천로14길 58,202112~202212,신규,-,0,0
61611,서울특별시 중랑구 중화동,208-4,0208,0004,중화동 범양프레체,월세,22.21,202112,20,"1,000",50,6,2012,중랑천로14길 58,202201~202401,신규,-,0,0
61612,서울특별시 중랑구 중화동,305-59,0305,0059,탑클래스2차,월세,20.65,202109,24,"1,000",50,3,2020,동일로135길 7-3,202110~202310,신규,-,0,0
61613,서울특별시 중랑구 중화동,307-4,0307,0004,화인하우스,전세,73.83,202111,1,"5,500",0,3,2017,,-,-,-,,

In [34]:
df4.drop(df4.index[0:16], inplace=True)
df4

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
16,서울특별시 강남구 개포동,157-9,0157,0009,\t(157-9)\t,전세,29.25,202102,2,"15,000",0,2,2011,선릉로4길 19,-,-,-,,
17,서울특별시 강남구 개포동,157-9,0157,0009,\t(157-9)\t,전세,36.96,202106,29,"24,000",0,3,2011,선릉로4길 19,202108~202308,신규,-,0,0
18,서울특별시 강남구 개포동,157-9,0157,0009,\t(157-9)\t,전세,29.25,202112,4,"20,000",0,3,2011,선릉로4길 19,202112~202312,신규,-,0,0
19,서울특별시 강남구 개포동,1237-3,1237,0003,(1237-3),월세,33.13,202102,10,"3,000",100,3,2020,논현로20길 12,-,-,-,,
20,서울특별시 강남구 개포동,1237-3,1237,0003,(1237-3),월세,34.12,202103,5,"3,000",105,5,2020,논현로20길 12,-,-,-,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61609,서울특별시 중랑구 중화동,208-4,0208,0004,중화동 범양프레체,월세,22.21,202111,26,"2,000",45,7,2012,중랑천로14길 58,202111~202311,신규,-,0,0
61610,서울특별시 중랑구 중화동,208-4,0208,0004,중화동 범양프레체,월세,22.21,202111,27,"1,000",45,3,2012,중랑천로14길 58,202112~202212,신규,-,0,0
61611,서울특별시 중랑구 중화동,208-4,0208,0004,중화동 범양프레체,월세,22.21,202112,20,"1,000",50,6,2012,중랑천로14길 58,202201~202401,신규,-,0,0
61612,서울특별시 중랑구 중화동,305-59,0305,0059,탑클래스2차,월세,20.65,202109,24,"1,000",50,3,2020,동일로135길 7-3,202110~202310,신규,-,0,0
61613,서울특별시 중랑구 중화동,307-4,0307,0004,화인하우스,전세,73.83,202111,1,"5,500",0,3,2017,,-,-,-,,

In [35]:
df4.rename(columns = {'□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.': '시군구', 
                     'Unnamed: 5': '전월세구분',
                     'Unnamed: 9': '보증금(만원)',
                     'Unnamed: 10': '월세(만원)'}, inplace=True)

del df4['Unnamed: 1']
del df4['Unnamed: 2']
del df4['Unnamed: 3']
del df4['Unnamed: 4']
del df4['Unnamed: 6']
del df4['Unnamed: 7']
del df4['Unnamed: 8']
del df4['Unnamed: 11']
del df4['Unnamed: 12']
del df4['Unnamed: 13']
del df4['Unnamed: 14']
del df4['Unnamed: 15']
del df4['Unnamed: 16']
del df4['Unnamed: 17']
del df4['Unnamed: 18']
df4

                 시군구 전월세구분         보증금(만원)          월세(만원)
16     서울특별시 강남구 개포동    전세          15,000               0
17     서울특별시 강남구 개포동    전세          24,000               0
18     서울특별시 강남구 개포동    전세          20,000               0
19     서울특별시 강남구 개포동    월세           3,000             100
20     서울특별시 강남구 개포동    월세           3,000             105
...              ...   ...             ...             ...
61609  서울특별시 중랑구 중화동    월세           2,000              45
61610  서울특별시 중랑구 중화동    월세           1,000              45
61611  서울특별시 중랑구 중화동    월세           1,000              50
61612  서울특별시 중랑구 중화동    월세           1,000              50
61613  서울특별시 중랑구 중화동    전세           5,500               0

[61598 rows x 4 columns]